@keyframes fade-right-in {
    0% {
      opacity: 0;
      transform: translateX(70px) scale(0.96);
    }
    70% {
      opacity: 1;
      transform: translateX(-6px) scale(1.02);
    }
    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
  
  .animate-fade-right-in {
    animation: fade-right-in 360ms cubic-bezier(.38,1.15,.44,.97);
  }