@keyframes fade-scale-in {
    0% {
      opacity: 0.3;
      transform: scale(0.88);
    }
    60% {
      opacity: 1;
      transform: scale(1.08);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fade-scale-in {
    animation: fade-scale-in 220ms cubic-bezier(.52,1.6,.43,.93);
  }